.user-spots-page-container {
  /* display: flex; */
  /* flex-direction: column; */
}
.user-listings-header {
  text-align: center;
}
.user-spots-container > h1 {
  text-align: center;
}
.user-spots-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
