#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px !important ;
  background-color: white;
  max-width: 568px;
  width: 100%;
  max-height: 100vh;
  /* overflow-y: auto; */
  margin-top: 2%;
  border-radius: 12px;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translate(0px, 100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
