.main-spot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 25px;
}
.main-spot-inner-container {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.spot-name {
  font-size: 24px;
  font-weight: 500;
}

.spot-details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.spot-button {
  display: flex;
  /* flex-wrap: wrap; */
  font-size: 14px;
}
.spot-num-reviews {
  font-weight: 450;
  padding-left: 5px;
  padding-right: 5px;
}
.spot-location {
  padding-left: 5px;
  font-weight: 400;
}
.spot-button > button {
  color: white;
  padding: 9px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
  background-color: #e51d53;
}
.spot-review-details {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}
.spot-review-details-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.spot-img-container {
  width: 100%;
  height: 600px;
}
.spot-image {
  border-radius: 10px;
  width: 100%;
  height: 600px;
  object-fit: fill;
}

.spot-desc {
  width: 100%;
}
.star-icon {
  padding-right: 5px;
}
.bottom-details-container {
  display: flex;
  width: 100%;
  padding-top: 15px;
}

.spot-desc {
  font-weight: 375;
}

.spot-detail-price-container {
  margin-left: 8%;
  width: 50%;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  max-height: 25%;
}
.spot-detail-price {
  font-size: 20px;
  font-weight: 550;
  padding-right: 3px;
}

.spot-detail-price-night {
  font-size: 14px;
}
.spot-detail-review-info {
  font-size: 16px;
}
.spot-detail-price-inner-container {
  display: flex;
  align-items: baseline;
}

.spot-review-container {
  align-items: center;
  margin-top: 25px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  border-top: 1px solid rgb(221, 221, 221);
}

.spot-review-container-data {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
}

.spot-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.spot-create-review {
  /* padding-left: 75%; */
}
.spot-create-review > button {
  color: white;
  padding: 9px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  width: 120px;
  background-color: #e51d53;
}
