.main-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 25px;
}
.main-user-inner-container {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.user-name {
  font-size: 24px;
  font-weight: 500;
}

.user-details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.user-button {
  display: flex;
  /* flex-wrap: wrap; */
  font-size: 14px;
}
.user-num-reviews {
  font-weight: 450;
  padding-left: 5px;
  padding-right: 5px;
}
.user-location {
  padding-left: 5px;
  font-weight: 400;
}
.user-button > button {
  color: white;
  padding: 9px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
  background-color: #e51d53;
}
.user-review-details {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}
.user-review-details-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.user-img-container {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.user-image {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  /* object-fit: fill; */
}

.user-desc {
  width: 100%;
}
.star-icon {
  padding-right: 5px;
}

.user-desc {
  font-weight: 375;
}

.user-detail-price-container {
  margin-left: 8%;
  width: 50%;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  max-height: 25%;
}
.user-detail-price {
  font-size: 20px;
  font-weight: 550;
  padding-right: 3px;
}

.user-detail-price-night {
  font-size: 14px;
}
.user-detail-review-info {
  font-size: 16px;
}
.user-detail-price-inner-container {
  display: flex;
  align-items: baseline;
}

.user-review-container {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 100%;
  max-width: 1200px;
}

.user-review-header {
  text-align: center;
}

.user-review-container-data {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
}

.user-reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: space-between;
}

.reviews-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
