.footer {
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 20px;
  justify-content: space-between;
}
.left-section a:hover,
.right-section a:hover {
  text-decoration: underline;
}
