/* TODO Add site wide styles */
body {
  margin-left: 0px;
  margin-right: 0px;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
}
* {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
}
label {
  color: #999;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 19px;
  top: 20px;
  transition: 0.2s ease all;
}
input:focus ~ label,
input:valid ~ label {
  top: 6px;
  font-size: 12px;
}
input:not(:placeholder-shown) ~ label {
  top: 6px;
  font-size: 12px;
}
textarea:focus ~ label,
textarea:valid ~ label {
  top: 6px;
  font-size: 12px;
}
.hide-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
@media (min-width: 375px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 744px) {
  .center {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 950px) {
  .center {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1128px) {
  .center {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 1440px) {
  .center {
    max-width: none;
    padding-left: 80px;
    padding-right: 80px;
  }
}
