.splash-page-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
}
.splash-page-outer-container {
  width: 100%;
}
.spots-inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  width: 100%;
}

.spots-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 70%;
  min-height: -webkit-calc(100% - 180px);
  min-height: -moz-calc(100% - 180px);
  min-height: calc(100vh - 290px);
}

.spots-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  place-items: center;
  gap: 1%;
}

@media (min-width: 375px) {
  .spots-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 744px) {
  .spots-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 950px) {
  .spots-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1128px) {
  .spots-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 1440px) {
  .spots-container {
    max-width: none;
    padding-left: 80px;
    padding-right: 80px;
  }
}
