.review-card-container {
  display: flex;
  flex-direction: column;

  padding-top: 25px;
  width: 41.6667%;
}
.review-user-inner-container {
  display: flex;
  align-items: center;
}
.review-user-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.review-user-name {
  padding-left: 15px;
}
.review-user-name-date {
  display: flex;
  flex-direction: column;
}

.review-date {
  padding-left: 15px;
}

.review-data {
  display: flex;
  width: 100%;
  word-wrap: break-word;
  padding-top: 15px;
  padding-bottom: 20px;
}

.review-delete {
  padding-left: 15px;
}
.review {
  width: 100%;
}
.review-delete button {
  color: white;
  padding: 9px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
  background-color: #e51d53;
}
